certifi==2019.11.28
chardet==3.0.4
Django==2.0.5
django-ckeditor==5.8.0
django-cors-headers==3.2.0
django-js-asset==1.2.2
djangorestframework==3.11.2
gpg==1.10.0
idna==2.8
iniparse==0.4
Pillow==6.2.1
PyMySQL==0.9.3
pytz==2019.3
requests==2.22.0
rpm==4.14.2
six==1.11.0
urllib3==1.25.7
uWSGI==2.0.18
w3lib==1.21.0
